body {
    background-color: #151515;
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

:root {
    --main-color: orangered;
}

#sorts {
    display: flex;
    align-items: start;
    flex-direction: column;

    margin-top: 1em;
    margin-left: 1em;
}

#sorts button {
    font-size: x-large;
    font-weight: 700;

    padding: 0.2em;

    border: 0;

    background-color: transparent;
    color: white;
}

#sorts button:hover {
    color: lightgray;
}


input[type="range"] {
    width: 10em;
}

input[type="range"] {
    appearance: none;
    background-color: transparent;
}
   
input[type="range"]:focus {
    outline: none;
}

input[type="range"]::-webkit-slider-runnable-track {
    background-color: var(--main-color);
    border-radius: 10px;
    height: 10px;
}

input[type="range"]::-moz-range-track {
    background-color: var(--main-color);
    border-radius: 10px;
    height: 10px;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 15px;
    width: 15px;
    background: white;
    margin-top: -2.5px;
    border-radius: 50%;
}
   
input[type="range"]::-moz-range-thumb {
    appearance: none;
    height: 15px;
    width: 15px;
    background: white;
    margin-top: -2.5px;
    border-radius: 50%;
}

#controls {
    border: var(--main-color) solid 0.2em;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    margin: 1em;
}

#play-pause, #slower, #stop, #faster {
    font-size: large;
    color: white;
    
    background-color: transparent;

    border: 0;
    border-right: var(--main-color) solid 0.1em;
    
    width: 35px;
    height: 35px;
}

#play-pause:hover, #slower:hover, #stop:hover, #faster:hover {
    background-color: #282727;
}

#settings {
    margin-right: 30px;
    position: relative;
    top: 3.5em;
    right: 15em;
}

.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
}

#graph {
    height: 17.5rem;
    border: 0.2em var(--main-color) solid;
    overflow: hidden;
    
    padding: 0.5em;

    background-image: linear-gradient(rgb(256, 256, 256, 0.5) .01rem, transparent .1rem), 
                    linear-gradient(90deg, rgb(256, 256, 256, 0.5) .01rem, transparent .1rem);
    background-size: 0.75rem 0.75rem;
    background-position: 0.25rem;

    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 100%;

    margin-left: 10%;
    margin-right: 10%;
}

#box {
    width: fit-content;
    height: inherit;
    
    border: 0;
    border-left: white 0.3em solid;
    border-right: white 0.3em solid;
    
    padding-left: 2px;
    padding-right: 2px;

    background-color: rgb(0, 0, 0, 0.5);

    transform: scaleY(-1)
}

.vLine {
    height: 98%;
    top: 1px;

    border-left-width: 10px;
    border-color: var(--main-color);
    border-style: solid;
    
    margin: 1px;
    
    float: left;
    position: relative;
}
